.cardlist {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    min-width: 272px;
    max-height: 80%;
    margin: 0px 6px;
    padding: 0 6px;
    background-color: #ebecf0;
}

.cardlist-title {
    display: flex;
    justify-content: space-between;
    margin: 12px 6px;
    font-weight: bold;
}

.cardlist-title input{
    display: flex;
    background-color: inherit;
    font-size: 16px;
    font-weight: bold;
    border-width: 0px;
}


.cardlist-list{
    display:flex;
    flex-direction: column;
    overflow-y:auto;
    width: 100%;
    height: 65%;
}

.cardlist-footer {
    margin: 12px 6px;
    font-size: 14px;
}

.cardlist-footer button {
    border: 0;
    cursor: pointer;
}

.cardlist-title-menu {
    display: flex;
}

.cardlist-title-menu-icon {
    margin-right: 12px;
    cursor: pointer;
}