.card-wrapper {
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 30px;
  max-width: 272px;
  border-radius: 3px;
  box-shadow: 1.5px 1.5px 0 #091e4240;
  background-color: #ffffff;
  margin-bottom: 4px;
  padding: 6px 8px 2px;
  align-items: flex-start;
  justify-content: center;
}

.card-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 30%;
  width: 100%;
  margin: 2px 0px 18px 0;
  font-weight: bold;
}

.card-title-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.card-title-wrapper button:first-child{
  margin-right: 6px;
}

.card-description {
  display: flex;
  min-height: 50%;
  width: 100%;
  margin: 2px 0px;
  font-size: 12px;
}

.card-title-wrapper button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 0;
  cursor: pointer;
  background-color: inherit;
}

.card-title-wrapper button:hover {
  background-color: #ebcdeb;
}